<a href="https://colab.research.google.com/github/ENRICOROBLESDELRIO/data_boot_camp_final_project/blob/enrico_branch/Import_data_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing data through SQL connection and Google Cloud**

In [31]:
# Libraries and dependencies

import pandas as pd
from google.colab import drive
from google.colab import files
import psycopg2

In [ ]:
# Google Cloud SQL connexion:
# Code taken from: https://stackoverflow.com/questions/53180140/how-to-access-cloud-sql-from-google-colab
!gcloud auth login
!gcloud config set project endeavor-intelligence-unit
# !gcloud sql instances describe finalprojectdb

In [33]:
# download and initialize the psql proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy

# "connectionName" is from the previous block
!nohup ./cloud_sql_proxy -instances="endeavor-intelligence-unit:northamerica-northeast2:finalprojectdb"=tcp:5432 &
!sleep 30s

cloud_sql_proxy: Text file busy
nohup: appending output to 'nohup.out'

In [34]:
#Checking the proxy´s logs 
# !cat nohup.out

In [35]:
# Connection to protect access and users to the database using a drive file: 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:

# Connection to the file with user and access to the database:
# Each user should use its own personal path to get access to the database and switch it below in open() function. 

with open('/content/drive/MyDrive/Personal/Data_Analytics_Boot_Camp/Final_project/Second_Deliverable/key_config.txt', "r") as file:
    FileasList = file.readlines()
    username = FileasList[0]
    password = FileasList[1]

    new_line = []
    # Loop through the file
    for i in FileasList:
        # Get rid of any new lines ("enter")
        i = i.replace("\n", "")
        # Add the cleaned data to the new_line list
        new_line.append(i)
    # Set the username to be the first object
    username = new_line[0]
    # Set the password to be the second object
    password = new_line[1]
    # Set the host to be the third object
    host = new_line[2]
    # Set the port to be the four object
    port = new_line[3]
    # Set the database to be the five object
    database = new_line[4]

In [37]:
# Connexion throught psycopg2 Google Cloud SQL data base

conn = psycopg2.connect(
    host=host, port=port, database=database,
    user=username, password=password)

In [38]:
# Query to connect with SQL data base
SQL_Query = pd.read_sql_query('''select * FROM "Rounds" ''', conn)
rounds_df = pd.DataFrame(SQL_Query)

In [39]:
# Data base of VC Rounds in entrepreneurs 
rounds_df.head(20)

    id_company     category  ... consolidate_company  increase_team
0            3   E-Commerce  ...                 0.0            0.0
1            7         SaaS  ...                 0.0            0.0
2           10         SaaS  ...                 0.0            0.0
3           13  IT services  ...                 0.0            0.0
4           23   E-Commerce  ...                 0.0            0.0
5           23   E-Commerce  ...                 0.0            0.0
6           23   E-Commerce  ...                 0.0            0.0
7           23   E-Commerce  ...                 0.0            0.0
8           23   E-Commerce  ...                 0.0            0.0
9           33         SaaS  ...                 0.0            0.0
10          51   E-Commerce  ...                 0.0            0.0
11          64      Fintech  ...                 0.0            0.0
12          93         SaaS  ...                 0.0            0.0
13         129       AgTech  ...                 0.0            0.0
14         141      Fintech  ...                 0.0            0.0
15         141      Fintech  ...                 0.0            0.0
16         141      Fintech  ...                 0.0            0.0
17         141      Fintech  ...                 0.0            0.0
18         141      Fintech  ...                 0.0            0.0
19         141      Fintech  ...                 0.0            0.0

[20 rows x 24 columns]

In [40]:
# data types
rounds_df.dtypes

id_company                     int64
category                      object
deal_type                     object
foundation_year                int64
number_employees             float64
increase_employees             int64
number_investors               int64
current_status                 int64
foreign_vc                     int64
local_vc                       int64
round_year                     int64
round_amount                 float64
support_company              float64
manufacture_equipment        float64
develop_new_tech             float64
grow_company                 float64
add_new_services             float64
develop_business             float64
financial_banking            float64
develop_products_services    float64
marketing_strategies         float64
expand_internationality      float64
consolidate_company          float64
increase_team                float64
dtype: object

In [41]:
# Query to connect with SQL data base from Founders Demographics 
SQL_Query = pd.read_sql_query('''select * FROM "Founders" ''', conn)
founders_df = pd.DataFrame(SQL_Query)

In [42]:
# Data base of Founders Demographics  
founders_df.head(20)

    id_founder  id_company  ... foreing_work_experience  foreing_founder
0            1           7  ...                       0                0
1            2          23  ...                       0                0
2            3         141  ...                       1                0
3            4         152  ...                       1                1
4            5         155  ...                       0                0
5            6         167  ...                       0                0
6            7         185  ...                       0                0
7            8         233  ...                       1                1
8            9        1799  ...                       1                0
9           10         284  ...                       0                0
10          11         307  ...                       0                0
11          12         308  ...                       1                1
12          13         309  ...                       1                1
13          14         326  ...                       0                0
14          15         343  ...                       1                0
15          16         355  ...                       1                0
16          17         393  ...                       1                0
17          18         413  ...                       1                1
18          19         423  ...                       0                0
19          20         425  ...                       0                0

[20 rows x 21 columns]

In [43]:
# data types
founders_df.dtypes

id_founder                               int64
id_company                               int64
general_location                        object
manager_exp                              int64
clevel_exp                               int64
engineering_exp                          int64
sales_exp                                int64
finance_exp                              int64
human_capital_exp                        int64
consulting_exp                           int64
founder_exp                            float64
foundation_year                        float64
years_of_experience_as_entreprenuer    float64
age_of_first_entrepreneurship          float64
age                                    float64
years_of_experience                    float64
number_of_startups                       int64
gender                                  object
foreing_studies                          int64
foreing_work_experience                  int64
foreing_founder                          int64
dtype: object